@import "tailwindcss";

@theme {
    --color-main: #232323;
    --color-accent: #D3D3D3;
    --color-background: #F9F9F9;
    --font-raleway: "Raleway", sans-serif;
    --font-merriweather: "Merriweather", serif;
}